/* =========================================
   CONFIGURAÇÕES GERAIS
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #f7f7f7;

    color: #071b64;

    zoom: 1.15;

    overflow: hidden;
}



button {

    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;

}





/* =========================================
   HEADER
========================================= */


.header {

    width: 100%;

    height: 78px;

    background-color: white;

    border-bottom: 3px solid #eeeeee;

    display: flex;

    align-items: center;

}





.navbar {

    width: calc(100% - 94px);

    max-width: 1215px;

    margin: auto;


    display: flex;

    align-items: center;

    justify-content: space-between;

}





/* =========================================
   LOGO
========================================= */


.logo {

    display: flex;

    align-items: center;

    gap: 10px;

    text-decoration: none;

}



.logo-img {

    width: 40px;

    height: 40px;

    object-fit: contain;

}



.logo-text {

    font-size: 25px;

    color: #0752d5;

    font-weight: 400;

}


.logo-text strong {

    font-weight: 700;

}






/* =========================================
   MENU
========================================= */


.menu {

    display: flex;

    align-items: center;

    gap: 80px;

}



.menu a {

    color: #071b64;

    text-decoration: none;

    font-size: 16px;

}



.menu .active {

    color: #0752d5;

    font-weight: 700;

}








/* =========================================
   PERFIL
========================================= */


.profile-button {

    height: 40px;

    padding: 0 12px;


    display: flex;

    align-items: center;

    gap: 8px;


    background-color: white;


    border: 2px solid #0752d5;


    border-radius: 10px;


    color: #0752d5;


    font-weight: 700;

    font-size: 16px;


}



.profile-icon {

    width: 21px;

    height: 21px;

    object-fit: contain;

}








/* =========================================
   CONTEÚDO PRINCIPAL
========================================= */


.main-content {

    width: calc(100% - 94px);

    max-width: 1186px;

    margin: auto;


    padding-top: 22px;

}








/* =========================================
   SAUDAÇÃO
========================================= */


.welcome {

    margin-bottom: 27px;

}



.welcome h1 {

    color: #071b64;

    font-size: 43px;

    line-height: 1.1;

}



.wave {

    font-size: 40px;

}



.welcome p {

    color: #173c8a;

    font-size: 20px;

    margin-top: 5px;

}









/* =========================================
   BANNER AVALIAÇÃO
========================================= */


.evaluation-banner {


    width: 100%;


    height: 196px;


    background-color: #dceafa;


    border-radius: 10px;


    position: relative;


    overflow: visible;


    display: flex;


    align-items: center;


}






.evaluation-text {


    width: 50%;


    padding-left: 14px;


    z-index: 2;

}





.evaluation-text h2 {


    color: #071b64;


    font-size: 37px;


    margin-bottom: 6px;


}





.evaluation-text p {


    color: #173c8a;


    font-size: 20px;


    line-height: 1.35;


    margin-bottom: 18px;


}








.primary-button {


    height: 56px;


    padding: 0 14px;


    border: none;


    border-radius: 9px;


    background-color: #0752d5;


    color: white;


    font-size: 16px;


    display: flex;


    align-items: center;


    gap: 8px;


}



.primary-button:hover {


    background-color: #043ca4;


}







.button-icon {


    width: 22px;


    height: 22px;


    object-fit: contain;


}






.evaluation-image {


    position: absolute;


    right: 0;


    top: 0;


    width: 53%;


    height: 100%;


    display: flex;


    justify-content: flex-end;


    align-items: center;


}





.main-image {


    width: 400%;


    max-width: 480px;


    height: 400%;


    object-fit: contain;


    object-position: right center;


}








/* =========================================
   TÍTULOS
========================================= */


.quick-section h2,


.tracking-section h2 {


    margin-top: 15px;


    margin-left: 14px;


    margin-bottom: 10px;


    color: #071b64;


    font-size: 28px;


}








/* =========================================
   ACESSO RÁPIDO
========================================= */


.quick-grid {


    display: grid;


    grid-template-columns: repeat(4,1fr);


    gap: 40px;


}






.quick-card {


    height: 120px;


    border: none;


    border-radius: 11px;


    background-color: white;


    box-shadow: 3px 4px 2px rgba(0,0,0,0.2);


    display: flex;


    align-items: center;


    padding: 10px;


    gap: 12px;


    text-align: left;


    position: relative;


}





.card-icon {


    width: 78px;


    height: 78px;


    object-fit: contain;


}






.quick-card h3 {


    color: #071b64;


    font-size: 17px;


    line-height: 1.2;


}





.quick-card p {


    margin-top: 5px;


    color: #173c8a;


    font-size: 14px;


    line-height: 1.35;


}




.arrow {


    position: absolute;


    right: 14px;


    width: 14px;


    height: 23px;


    object-fit: contain;


}









/* =========================================
   ACOMPANHAMENTO
========================================= */


.tracking-grid {


    display: grid;


    grid-template-columns: repeat(3,1fr);


    gap: 40px;


}






.tracking-card {


    height: 98px;


    background-color:white;


    border:none;


    border-radius:10px;


    box-shadow:3px 4px 2px rgba(0,0,0,0.18);


    display:flex;


    align-items:center;


    gap:12px;


    padding:10px;


    position:relative;


    text-align:left;


}




.tracking-icon {


    width:75px;


    height:75px;


    object-fit:contain;


}





.tracking-card span {


    color:#31569b;


    font-size:13px;


}



.tracking-card h3 {


    font-size:19px;


    margin-top:4px;


}



.tracking-card p {


    color:#173c8a;


    font-size:13px;


}



.danger {


    color:#ff3434;


}



.blue {


    color:#0752d5;


}



.green {


    color:#13a88f;


}









/* =========================================
   AVISO
========================================= */


.warning {


    margin-top:28px;


    height:44px;


    background-color:#dbe8fa;


    border-radius:10px;


    display:flex;


    justify-content:space-between;


    align-items:center;


    padding:0 15px;


}



.warning div {


    display:flex;


    align-items:center;


    gap:12px;


}



.warning-icon {


    width:24px;


    height:24px;


    object-fit:contain;


}




.warning p {


    color:#31569b;


    font-size:15px;


}




.warning-decoration {


    width:200px;


    height: 150px;


    object-fit:contain;

    
}









/* =========================================
   RESPONSIVIDADE
========================================= */


@media(max-width:1100px){


    .menu{

        gap:35px;

    }


    .quick-grid{


        grid-template-columns:repeat(2,1fr);

    }


}





@media(max-width:850px){


    .menu{

        display:none;

    }


    .evaluation-banner{


        height:auto;


        min-height:300px;


    }



    .evaluation-text{


        width:100%;

    }


    .evaluation-image{


        opacity:.3;


    }


    .tracking-grid{


        grid-template-columns:1fr;

    }


}




@media(max-width:600px){


    .main-content,
    .navbar{


        width:calc(100% - 30px);


    }



    .quick-grid{


        grid-template-columns:1fr;


    }


    .welcome h1{


        font-size:34px;


    }


}