/* =========================================
   GENSAÚDE SUS - LOGIN
========================================= */


/* ÁREA PRINCIPAL */

.login-page {


    width:calc(100% - 120px);


    max-width:1250px;


    margin:auto;


    height:calc(100vh - 78px);


    display:flex;


    align-items:center;


    justify-content:center;


    gap:80px;


    transform:translateY(-25px);


}






/* CARD */


.login-card {


    width:580px;


    padding:52px 50px 42px;


}







/* TÍTULO */


.login-title {


    font-size:52px;


    line-height:1;


    color:#071b64;


    margin-bottom:14px;


}







/* DESCRIÇÃO */


.login-description {


    font-size:18px;


    line-height:1.4;


    color:#173c8a;


    margin-bottom:38px;


}









/* CAMPOS */


.login-fields {


    display:flex;


    flex-direction:column;


    gap:15px;


}








/* OPÇÕES */


.login-options {


    margin:20px 0 28px;


    display:flex;


    justify-content:space-between;


    align-items:center;


}



.forgot-password{


    color:#0752d5;


    font-size:14px;


}









/* BOTÃO ENTRAR */


.btn-primary{


    width:100%;


    height:48px;


}









/* DIVISOR */


.login-divider{


    width:100%;


    display:flex;


    align-items:center;


    justify-content:center;


    gap:15px;


    margin:18px 0;


}



.login-divider span{


    flex:1;


    height:1px;


    background:#dddddd;


}



.login-divider p{


    margin:0;


    color:#071b64;


    font-size:14px;


}








/* BOTÃO CRIAR CONTA */


.btn-secondary{


    width:100%;


    height:48px;


}











/* IMAGEM */


.login-illustration{


    width:620px;


    display:flex;


    justify-content:center;


    align-items:center;


}



.login-illustration img{


    width:620px;


    max-width:100%;


    object-fit:contain;


}








/* RESPONSIVO */


@media(max-width:1000px){


    .login-page {


    width:calc(100% - 120px);


    max-width:1350px;


    margin:auto;


    height:calc(100vh - 78px);


    display:flex;


    align-items:center;


    justify-content:center;


    gap:100px;


    transform:translateY(-20px);


}




    .login-card{


        width:100%;


        max-width:540px;


    }




    .login-illustration{


        width:100%;


        max-width:620px;


    }



}